In [1]:
# Import dependencies
import pandas as pd

In [5]:
# Reference to CSv.csv"
csv_path = 'registered_weapons_by_state.csv'
firearms_df = pd.read_csv(csv_path)
firearms_df.head(10)

,State,Any Other,Weapon 1,Destructive Device 2,Machinegun 3,Silencer 4,Short Barreled Rifle 5,Short Barreled Shotgun 6,Total
0,Alabama,"1,218","79,282","26,687","47,574","6,289","2,348","163,398","326,796"
1,Alaska,328,"5,032","1,650","7,107","2,131","1,324","17,572","35,144"
2,Arkansas,637,"50,465","5,469","22,554","3,742","1,178","84,045","168,090"
3,Arizona,"1,312","103,787","17,192","45,023","15,969","2,493","185,776","371,552"
4,California,"3,980","282,787","29,800","16,128","11,723","13,805","358,223","716,446"
5,Colorado,"1,023","48,481","7,385","33,538","7,904","1,831","100,162","200,324"
6,Connecticut,948,"13,508","37,311","11,919","3,588","1,023","68,297","136,594"
7,District of Columbia,69,"44,813","5,188",505,931,"1,104","52,610","105,220"
8,Delaware,33,"3,088",588,333,297,645,"4,984","9,968"
9,Florida,"3,645","190,060","44,484","98,972","31,162","8,884","377,207","754,414"

In [7]:


fig, ax = plt.subplots(figsize=(8,8))
grouped_usa_df.unstack().plot(ax=ax)
plt.title("Guns")
plt.xlabel("Years")
plt.ylabel("state")
leg = ax.legend()

NameError: name 'plt' is not defined